<article class="stream">
	<img id="screen" src="_/img/<% recipes.iid %>.jpg" alt="" />
  <div id="points">
    <div id="up">&nbsp;</div>
    <div id="count"><% recipes.points %></div>
    <div id="down">&nbsp;</div>
  </div>
	<h1><% recipes.name %></h1>
  <div id="streamby">by <a href="">No one</a></div>
  <div id="content"><% recipes.description %></div>
</article>