<nav id="tagbar">
  <ul>
    <li><a href="">Burgers</a></li>
    <li><a href="">Pasta</a></li>
    <li><a href="">Chinese</a></li>
    <li><a href="">Vegan</a></li>
    <li><a href="">Mexican</a></li>
  </ul>
</div>

<%= partial('recipeshort', recipes) %>

<!--<aside>
  <h2>Sidebar Content</h2>
</aside>-->