
/*-  CSS "libraries"
----------------------------------------------------------------------*/
@import url("reset.css");


/*-  Core, patch-free design
----------------------------------------------------------------------*/
@import url("core.css");


/*-  Browser-specific patches
----------------------------------------------------------------------*/
/*\*//*/
@import url("patches/mac-ie5.css");
/**/

/*- Global Style
----------------------------------------------------------------------*/
html
{
  font-family: Tahoma, Geneva, sans-serif;
  color: #444;
  background-color: #fffaef;
  margin: 25px 50px;
  min-width: 600px;
}

ul
{
  list-style: none;
}

.small
{
  font-size: 0.8em;
}

a
{
  color: #5ba825;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

/*- Header Style
----------------------------------------------------------------------*/

header
{
  clear: both;
  height: 80px;
}

header h1
{
  font-size: 3.6em;
  float: left;
}

header h2
{
  float: left;
  clear: both;
  font-size: 0.8em;
}

header a
{
  text-decoration: none;
  color: #444;
}

header nav#headermenu
{
  float: right;
  margin: 20px 0px;
}

nav#headermenu ul li
{
  display: inline;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 0px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

nav#headermenu ul li.subl
{
  margin-right: 0px;
  -moz-border-radius: 5px 0px 0px 5px; 
  -webkit-border-radius: 5px 0px 0px 5px; 
  border-radius: 5px 0px 0px 5px; 
}
nav#headermenu ul li.subr
{
  margin-left: -5px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

nav#headermenu ul li:hover
{
  background-color: #b9dc63;
}

#logowok
{
  color: #5ba825;
  font-family: "Lucida Console", Monaco, Monospace;
  font-weight: 800;
}

#logofly
{
  margin-left: -10px;
  font-family: "Segoe Script", "Brush Script MT", Georgia, serif;
  font-style: italic;
}

/*- Category Bar
----------------------------------------------------------------------*/

nav#tagbar {
  background: #000206;
  font-size: 1.2em;
  height: 30px;
  line-height: 20px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
	
nav#tagbar ul { margin: 0px auto; }
nav#tagbar ul li 
{ 
  float: left; 
  display: inline; 
  margin: 0px;
}

nav#tagbar a:link, nav#tagbar a:visited {
  color: #fff;
  display: inline-block;
  height: 20px;
  padding: 5px 1.5em;
  text-decoration: none;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  -moz-box-shadow: inset 0px 0px 10px #000;
  -webkit-box-shadow: inset 0px 0px 10px #000;
  box-shadow: inset 0px 0px 10px #000;
}
nav#tagbar a:hover, nav#tagbar a:active,
nav#tagbar nav .active a:link, nav#tagbar .active a:visited {
  background: #5d8005;
  color: #fff;
  text-shadow: none !important;
}

/*- Article
----------------------------------------------------------------------*/

article.stream
{
  background: #fff;
  font-size: 1em;
  margin: 10px auto;
  padding: 0px 0px;
  
  border: 1px solid #d7e9a8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}

article.stream div
{
  clear: none;
}

article.stream #content
{
  margin: 10px 75px;
}

article.stream img#screen
{
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px 10px 5px 10px;
  border: 1px solid #d7e9a8;
}


article.stream h1 { font-size: 1.2em; margin-top: 8px; }
article.stream #streamby { font-size: 0.8em; color: #575; font-weight: normal; margin-bottom: 8px; }
article.stream #streamby a { color: #5ba825; text-decoration: none; }

article.stream .points
{
  float: right;
  text-align: center;
  margin: 10px;
  font-size: 0.8em;
  padding: 0px;
  width: 50px;
  
  background-color: #fff; /*fff4d2 effaff*/
  border: 1px solid #f26c0d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

article.stream .points div { clear: both; }

article.stream .points .count
{
  font-size: 2em;
  line-height: 36px;
}

article.stream .points .up
{
  font-size: 0.8em;
  margin: -1px;
  padding: 0px;
  background-color: #ffecd6;
  border: 1px solid #f26c0d;
  -moz-border-radius: 5px 0px 5px 0px;
  -webkit-border-radius: 5px 0px 5px 0px;
  border-radius: 5px 0px 5px 0px;
  float: left;
  width: 50%;
}

article.stream .points .down
{
  font-size: 0.8em;
  margin: -1px;
  padding: 0px;
  background-color: #effaff;
  border: 1px solid #f26c0d;
  -moz-border-radius: 5px 0px 5px 0px;
  -webkit-border-radius: 5px 0px 5px 0px;
  border-radius: 5px 0px 5px 0px;
  float: right;
  width: 50%;
}

article.stream .points .up:hover { background-color: #f26c0d; }
article.stream .points .down:hover { background-color: #004f96; }

/*- Forms
----------------------------------------------------------------------*/

#editrecipe fieldset
{
  border: none;
  margin-top: 10px;
}

#editrecipe fieldset
{
  background: #fff;
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 10px;
  
  border: 1px solid #d7e9a8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#editrecipe ul#recipeinformation input, ul#recipeinformation textarea
{
  width: 300px;
}

#editrecipe label {
  float: left;
  width: 200px;
}

#editrecipe fieldset legend
{
  font-size: 1em; 
  font-weight: bold;
}

/* CSS Selectors are pretty sweet imho */
#editrecipe textarea#document
{
  width: 100%;
}

/*- Document
----------------------------------------------------------------------*/

.stream #commands
{
  background: #f2f2f2;
  color: #444;
  font-size: 1em;
  margin: 0px -1px -1px -1px;
  padding: 0px 10px;
  height: 23px;
  
  border: 1px solid #d7e9a8;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}


.stream #commands ul { margin: 0px auto; }
.stream #commands li
{
  display: inline;
  float: left;
  padding: 7px 15px 3px 15px;
  font-size: 0.8em;
  margin: -1px 3px;
  color: #444;
}

.stream #commands li a
{
  color: #444;
  text-decoration: none;
}

.stream #commands li#edit a:hover
{
  color: #a00010;
  text-decoration: none;
}

.document
{
  background: #fff;
  font-size: 0.9em;
  margin: 10px auto;
  padding: 10px 30px;
  
  border: 1px solid #d7e9a8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}

.document p { margin: 10px 0px; }
.document p:first-child { margin-top: 0px; }

/*- Image upload form
-------------------------------------------------------*/

div.imageupload{
  background: #fff;
  font-size: 1em;
  margin: 8px 0px 0px 10px;
  padding: 12px 10px;
  text-align: center;
  float: right;

  border: 1px solid #d7e9a8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.imageupload:hover div
{
  text-decoration: underline;
}

div.imageupload #thumb
{
  width: 100px;
  height: 100px;
}

div.registerimage
{
  text-align: center;
  float: right;
  margin: 0px 20px 0px 0px;
}

div.registerimage:hover div
{
  text-decoration: underline;
}

div.registerimage #thumb
{
  width: 80px;
  height: 80px;
}

/*- Ingredients
----------------------------------------------------------*/

#ingredientform label
{
  float: none;
  margin-right: 10px;
}

#ingredientform #ingredient { margin-right: 10px; }

#ingredientform #quantity
{
  width: 40px;
}

#ingredientform button
{
  width: 50px;
  margin-left: 10px;
}

#ingredientlist
{
  margin: 5px 20px;
}

#ingredientlist li
{
  width: auto;
  margin: 1px 0px;
  padding: 3px 10px;
  background: #f0f9c8;
}

/*- Login
----------------------------------------------------------*/

#login fieldset
{
  background: #fff;
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 10px;
  
  border: 1px solid #d7e9a8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#register fieldset
{
  background: #fff;
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 10px;
  
  border: 1px solid #d7e9a8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#login label {
  float: left;
  width: 100px;
}

#login fieldset legend
{
  font-size: 1em; 
  font-weight: bold;
}

#register label {
  float: left;
  width: 100px;
}

#register fieldset legend
{
  font-size: 1em; 
  font-weight: bold;
}

#listedit fieldset
{
  background: #fff;
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 10px;
  
  border: 1px solid #d7e9a8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#listedit label
{
  float: none;
  margin-right: 10px;
}

#listedit fieldset legend
{
  font-size: 1em; 
  font-weight: bold;
}